[submodule "vim/bundle/minibufexpl.vim"]
	path = vim/bundle/minibufexpl.vim
	url = git://git@github.com/fholgado/minibufexpl.vim
[submodule "vim/bundle/vim-yankstack"]
	path = vim/bundle/vim-yankstack
	url = git@github.com:maxbrunsfeld/vim-yankstack
[submodule "emacs.d/evil"]
	path = emacs.d/evil
	url = git://gitorious.org/evil/evil.git
